N8N_LICENSE_ACTIVATION_KEY=
N8N_ASSESSMENT_ID=

GEMINI_API_KEY=
GOOGLE_PROJECT_NAME=
GOOGLE_PROJECT_NUMBER=

GOOGLE_OAUTH_CLIENT_ID=
GOOGLE_OAUTH_CLIENT_SECRET=

N8N_HOST=
NGROK_DOMAIN=
NGROK_AUTHTOKEN=